@model IEnumerable<Day3Paypal.Models.IPN>

@{
    ViewData["Title"] = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="transaction-hdg">
    <h2>Transactions</h2>
    <img class="paypal-logo" src="./images/PayPal.jpg" />
</div>

<div class="container">
    
    <main class="pb-3">
        <div class="row">

            

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Payment ID
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        MOP
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr> 
                    <td>
                        @Html.DisplayFor(modelItem => item.payerID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.create_time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.payerFirstName) @Html.DisplayFor(modelItem => item.payerLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.payerEmail)
                    </td>
                    <td>
                        $ @Html.DisplayFor(modelItem => item.amount) @Html.DisplayFor(modelItem => item.currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.paymentMethod)
                    </td>
                </tr>
        }
            </tbody>
        </table>
        </div>
    </main>
</div>